// ----utility Css -----------------------

// ------habburger -------

.burger-menu-wrapper {
  position: absolute;
  top: 0rem;
  right: 1rem;
  display: none;

  @include at-950px {
    display: block;
  }

  #burger-menu {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
    .burger-span {
      right: 0px;
      top: 13px;
      width: 27px;
      &:before {
        left: 0px;
        top: -10px;
        width: 27px;
      }
      &:after {
        left: 0px;
        top: 10px;
        width: 27px;
      }
    }
    &.close {
      .burger-span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
        &:before {
          top: 0px;
          transform: rotate(90deg);
          width: 27px;
        }
        &:after {
          top: 0px;
          left: 0;
          transform: rotate(90deg);
          opacity: 0;
          width: 0;
        }
      }
    }
  }
  #burger-menu .burger-span,
  #burger-menu .burger-span:before,
  #burger-menu .burger-span:after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu .burger-span,
  #burger-menu .burger-span:before,
  #burger-menu .burger-span:after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu .burger-span:before,
  #burger-menu .burger-span:after {
    content: "";
  }
}

// ----utility Css Ends-----------------------
