// ----utility Css -----------------------

.whiteBackground {
  background-color: white;
  border: 1px solid red;
}
.greyBackground {
  background-color: #f8f8f8;
}

// ------habburger -------

.burger-menu-wrapper {
  position: absolute;
  top: 0rem;
  right: 1rem;
  display: none;

  @include at-900px {
    display: block;
  }

  #burger-menu {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
    span {
      right: 0px;
      top: 13px;
      width: 27px;
      &:before {
        left: 0px;
        top: -10px;
        width: 27px;
      }
      &:after {
        left: 0px;
        top: 10px;
        width: 27px;
      }
    }
    &.close {
      span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
        &:before {
          top: 0px;
          transform: rotate(90deg);
          width: 27px;
        }
        &:after {
          top: 0px;
          left: 0;
          transform: rotate(90deg);
          opacity: 0;
          width: 0;
        }
      }
    }
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
}

// ------hide and  show menu ---

#menu {
  //   z-index: 1;
  //   min-width: 100%;
  //   min-height: 100%;
  //   position: fixed;
  //   top: 0;
  //   height: 0;
  //   visibility: hidden;
  //   opacity: 0;
  //   text-align: center;
  //   padding-top: 20px;
  //   transition: all 0.3s ease-in-out;

  &.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
  }
}

// ----utility Css Ends-----------------------
