@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

$fontColor: #262626;
$Info_Color: #616161;
$fontFamily: "Roboto", sans-serif;
$backgroundColor: #f8f8f8;

@mixin at-1250px {
  @media (max-width: 1250px) {
    @content;
  }
}
@mixin at-950px {
  @media (max-width: 950px) {
    @content;
  }
}
@mixin at-600px {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin at-400px {
  @media (max-width: 400px) {
    @content;
  }
}

// @import "_extraStyle.scss";

.header {
  padding: 50px 100px;
  background-color: $backgroundColor;
  width: 100%;
  position: fixed;
  z-index: 1;

  @include at-950px {
    height: 3vh;
    padding: 0px 0px;
    z-index: 100;
  }

  .logo-wrap {
    .logo-img {
      position: absolute;
      top: 32px;
      left: 106px;
      transition: all 0.1s ease;

      @include at-950px {
        left: 15px;
      }
    }
  }

  .nav {
    float: left;
    width: 100%;
    padding: 10px;

    @include at-950px {
      width: 100%;
      transition: all 0.6s ease-in-out;
      background: linear-gradient(180deg, #262626 0%, #000000 100%);
      width: 100vw;
    }

    .nav-links {
      float: right;

      @include at-950px {
        height: 100vh;
        width: 100%;
        z-index: 1;
        margin-top: 8rem;
      }

      li {
        margin: 0.6px 10px;
        list-style: none;
        display: inline-block;

        @include at-950px {
          margin-top: 32px;
          display: block;
          text-align: center;
        }

        a {
          text-decoration: none;
          font-weight: 300;
          font-size: 16px;
          font-family: $fontFamily;
          color: $fontColor;

          @include at-950px {
            font-size: 22px;
            font-weight: 900;
            color: white;
          }
        }
      }
    }
  }

  .burger-menu-wrapper {
    .menu-open,
    .menu-close {
      position: absolute;
      top: 2rem;
      right: 1rem;
      display: none;
      cursor: pointer;

      @include at-950px {
        display: block;
      }
    }

    .burger-menu {
      height: 30px;
      width: 30px;
    }
  }
}

.hero-section {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $backgroundColor;
  padding-top: 10rem;
  padding-left: 70px;

  @include at-1250px {
    height: 90vh;
    transition: all 0.6s ease-in-out;
  }

  @include at-950px {
    height: 82vh;
    transition: all 0.6s ease-in-out;
  }

  .text-caption {
    width: 35%;

    h2 {
      font-family: $fontFamily;
      font-weight: 900;
      font-size: 80px;
      color: $fontColor;

      @include at-1250px {
        font-size: 60px;
        transition: all 0.6s ease-in-out;
      }

      @include at-950px {
        font-size: 40px;
        transition: all 0.6s ease-in-out;
      }
    }
  }
  .hero-image {
    .scooter-image {
      width: 600px;

      @include at-1250px {
        width: 450px;
        transition: all 0.6s ease-in-out;
      }

      @include at-950px {
        width: 400px;
        transition: all 0.6s ease-in-out;
      }
    }
  }
}

.scooter-scroll {
  padding: 50px 106px;
  position: relative;
  height: 110vh;
  margin-bottom: 14rem;
  background-color: $backgroundColor;

  .caption {
    width: 45%;
    margin-left: 80px;

    h2 {
      font-family: $fontFamily;
      color: $fontColor;
      font-weight: 900;
      font-size: 30px;
      width: 326px;
    }
    p {
      font-family: $fontFamily;
      color: $fontColor;
      font-weight: 300;
      font-size: 18px;
    }
  }
  .swiper {
    width: 85vw;
    height: 100%;
    margin-top: 60px;
    position: absolute;
    right: 0;

    .swiper-wrapper {
      .swiper-slide {
        .scooters {
          .scootr-image {
            width: 260px;
          }
          .informations {
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;

            h2 {
              font-size: 20px;
              font-family: $fontFamily;
              font-weight: 900;
              margin: 10px 0;
              color: $fontColor;
              padding-left: 4px;
            }

            .info {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              position: relative;

              p {
                color: $Info_Color;
                font-weight: 300;
                font-family: $fontFamily;
                font-size: 14px;
              }
              .info-detail {
                position: absolute;
                top: 0px;
                left: 110px;
                color: $Info_Color;
                font-weight: 400;
                font-family: $fontFamily;
                font-size: 16px;
              }
            }
            hr {
              margin: 5px 0;
              width: 70%;
              border: 0.5px solid rgba(97, 97, 97, 0.3);
            }

            .pricing {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin: 10px 0;

              p {
                color: $Info_Color;
                font-weight: 300;
                font-family: $fontFamily;
                font-size: 14px;
              }
              h2 {
                color: $fontColor;
                font-weight: 900;
                font-family: $fontFamily;
                font-size: 32px;
                margin-left: 16px;
              }
            }
            .btn-primary {
              font-size: 20px;
              font-weight: 600;
              font-family: $fontFamily;
              text-align: center;
              padding: 9px 63px;
              border-radius: 30px;
              display: block;
              margin: 0 auto;
              border: 2.5px solid $fontColor;
              background-color: $backgroundColor;
              cursor: pointer;

              &:hover {
                background-color: $fontColor;
                color: white;
                transition: all 0.6s ease-in-out;
                border: 2.5px solid white;
              }
            }
          }
        }
      }
    }

    .swiper-scrollbar {
      position: absolute;
      left: 12%;
      bottom: 0rem;
      z-index: 50;
      height: 4px;
      width: 60%;
      margin-bottom: 4rem;
    }
  }
}

.banner {
  margin-top: 18rem;
  height: 70vh;
  background: url("/images/back-Rectangle.svg"), url("/images/Mask-group1.svg");
  background-position: top 0px left -199px, top 2px right -14px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 450px;
  z-index: -1;

  .banner-caption {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 270px;

    h2 {
      background-color: transparent;
      color: white;
      font-size: 40px;
      font-family: $fontFamily;
      font-weight: 900;
      width: 60%;
    }

    .btn-primary {
      font-size: 20px;
      font-weight: 600;
      font-family: $fontFamily;
      text-align: center;
      padding: 9px 53px;
      border-radius: 30px;
      margin-top: 2rem;
      color: white;
      border: 2.5px solid white;
      background-color: black;
      cursor: pointer;
      width: 35%;

      &:hover {
        background-color: white;
        color: black;
        transition: all 0.6s ease-in-out;
        border: 2.5px solid white;
      }
    }
  }
}

.locations {
  padding-top: 70px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 140px;
  z-index: -1;
  height: 160vh;

  .location-caption {
    width: 30%;

    h2 {
      font-family: $fontFamily;
      color: $fontColor;
      font-weight: 900;
      font-size: 30px;
      width: 326px;
    }
    p {
      font-family: $fontFamily;
      color: $fontColor;
      font-weight: 300;
      font-size: 18px;
    }
  }

  .location-navbar {
    margin-top: 84px;

    .location-list {
      display: flex;
      align-items: center;
      list-style: none;
      width: 70%;

      .selection-tab {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        color: #616161;
        margin: 0 40px 0 0;
        padding: 0 6px;
        cursor: pointer;
      }
    }
  }

  .all-locations {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    height: 45vh;

    @include at-1250px {
      flex-shrink: 2;
    }

    .location-box {
      background-color: #ffffff;
      padding: 15px 20px;
      width: 25%;
      height: 200px;
      margin: 20px 10px;

      h2 {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: $fontColor;
        background-color: #ffffff;
      }
      p {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #262626;
        margin-top: 10px;
        background-color: #ffffff;
      }
      .divider {
        background-color: #616161;
        opacity: 30%;
        height: 0.5px;
        margin: 10px 0;
      }

      .contact-images {
        background-color: #ffffff;
        img {
          margin-right: 30px;
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
  }
}

.sign-up {
  position: relative;

  .caption {
    position: absolute;
    top: 5rem;
    left: 177px;
    padding: 8px;
    background-color: transparent;
    width: 27%;

    h2 {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      background-color: transparent;
      color: white;
    }
    p {
      font-family: $fontFamily;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: white;
      background-color: transparent;
    }
  }

  .sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/images/back-Rectangle.svg"),
      url("/images/bike-Maskgroup.svg");
    background-position: top 0px left -90px, top 2px right 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 357px;

    input {
      width: 352px;
      height: 36px;
      background: #ffffff;
      border-radius: 30px;
      border: none;
      outline: none;
      padding: 0 15px;
    }

    .check-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      flex-direction: column;
      margin-left: 13rem;

      .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        width: 36rem;
        margin-top: 1rem;
        position: relative;
        right: 116px;

        @import "_checkbox.scss";

        p {
          background-color: transparent;
          color: white;
          margin-left: 1rem;
          font-family: $fontFamily;
          font-style: normal;
          font-weight: 300;
          font-size: 13px;
        }
      }

      .btn-primary {
        font-size: 20px;
        font-weight: 600;
        font-family: $fontFamily;
        text-align: center;
        padding: 9px 45px;
        border-radius: 30px;
        margin-top: 1rem;
        color: white;
        border: 2.5px solid white;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        right: 80px;

        &:hover {
          background-color: white;
          color: black;
          transition: all 0.6s ease-in-out;
          border: 2.5px solid white;
        }
      }
    }
  }
}

@include at-950px {
  .hide {
    // display: none;
    transform: translate(+1500px, 0px);
    height: 100vh;
    width: 100%;
  }

  .blackbackGround {
    background-color: black;
  }

  .logoFilter {
    filter: invert(1);
  }

  .burgerSpanColor {
    background-color: white;
  }
}

.hide-navlinks {
  display: none;
  transition: all 1s ease-in-out;

  @include at-950px {
    display: block;
  }
}

.padding-reduce {
  width: 110px;
}

.hideFullWidth {
  display: none;
}
